<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="e8c14f30-20ce-4cb9-89b8-0d917615291d" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://restcountries.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <con:settings>
    <con:setting id="e8c14f30-20ce-4cb9-89b8-0d917615291dfileName">https%3A%2F%2Frestcountries.com</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://restcountries.com</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="b3525888-df7d-4a6d-94c3-f4644c1f1efc">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="00fec0b8-ce69-4349-891a-268efa8ed020">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="b97ee362-0c44-43f7-ab37-2539f6d56415">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
